head{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

#clasico-h{
    background-color: #f5f5f5;
    color: #333;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    height: 100px;
    width: 80px;
    border: 0.1px solid #000;
}

#clasico-m{
    background-color: #f5f5f5;
    color: #333;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    height: 100px;
    width: 80px;
    border: 0.1px solid #333;
}

#casual-h{
    background-color: #f5f5f5;
    color: #333;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    height: 120px;
    width: 80px;
    border: 0.1px solid #000;
}

#casual-m{
    background-color: #f5f5f5;
    color: #333;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    height: 120px;
    width: 80px;
    border: 0.1px solid #333;
}